####################################################
# This is a template file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

envs:
  local:
    api:
      hostname: <hostname>
      port: 30007
      protocol: http
      token: <token>
  dev:
    api:
      hostname: <hostname>
      port: 443
      protocol: https
      token: <token>
  staging:
    api:
      hostname: <hostname>
      port: 443
      protocol: https
      token: <token>
  prod:
    api:
      hostname: <hostname>
      port: 443
      protocol: https
      token: <token>
  prod2:
    api:
      hostname: <hostname>
      port: 443
      protocol: https
      token: <token>