####################################################
# This is a template file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

envs:
  dev:
    api:
      hostname: <hostname>
      port: 443
      token: <token>
  staging:
    api:
      hostname: <hostname>
      port: 443
      token: <token>
  prod:
    api:
      hostname: <hostname>
      port: 443
      token: <token>
