envs:
  dev:
    api:
      hostname: <hostname>
      port: 443
      token: <token>
  devOld:
    api:
      hostname: <hostname>
      port: 443
      token: <token>
  prod:
    api:
      hostname: <hostname>
      port: 443
      token: <token>
  staging:
    api:
      hostname: <hostname>
      port: 443
      token: <token>